*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
}

body{
  min-height: 100vh;
  width: 100vw;
  background: #3a0857;
  background: linear-gradient(180deg, rgba(58, 8, 87, 1) 0%, rgba(58, 39, 87, 1) 52%, rgba(28, 5, 64, 1) 100%);
}